/* Global setting*/
body{
  margin: 0;
}

a{
  text-decoration: none;
}

/* Navigator Style */
nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.site-nav{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.site-nav li {
  margin-right: 50px;
  list-style-type: none;
}

.site-nav li a{
  color:white;
}
#logo {
  margin: 0;
  padding-top: 10px;
  margin-left: 20px;
  font-family: Arial;
  font-size: 26px;
  color: white;
}

#shopping-cart{
  border:2px solid white;
  border-radius: 5px;
  margin-right: 50px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  width: 100px;
  height: 40px;
}

#shopping-cart img{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-top: 5px;
}

#shopping-cart p{
  margin-top: 12px;
  margin-left: 10px;
  color: white;
  font-family:Arial;
}
/* Big picture */
.big-picture{
  width: 100%;
  height: 550px;
  background-image: url(../images/big-pic2.jpg);
  background-size:cover;
}

/* Dot */
.slider-nav{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 120px;
  display: flex;
  flex-direction: row;
}

.pre-arrow{
  height: 20px;
}

.next-arrow{
  height: 20px;
}
#dots{
  margin-left: auto;
  margin-right: auto;
  padding-top: 5px;
  display: flex;
  width: 50px;
  justify-content: space-between;;
}
.dot{
  width: 8px;
  height: 8px;
  border-radius: 50px;
  background-color: rgba(163, 95, 33, 0.79);
}

/* Content area */
.content-area{
  width: 1280px;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.news{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 960px;
}
#news-content{
  margin-top: 20px;
}
.content-header{
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
  font-weight: bolder;
}

.news-item{
  font-family: 'Microsoft JhengHei';
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.news-date{
  margin-left: 20px;
  color:#b4bbb3;
}

.news-text{
  color:#333333;
  margin-left: 40px;
}

/* Product*/
.product{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 960px;
}

#product-content{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-between;
  align-content: space-between;
  height: 700px;
  margin-bottom: 20px;
}

#product-content img{
  margin-top: 20px;
  width: 250px;
  height: 250px;
}

/* Footer */
footer{
  display: flex;
  justify-content: center;
  background-color: #333333;
  width: auto;
  height: 40px;
}

footer p{
  color: white;
  margin-top: 15px;
}
